SUPERSET_SECRET_KEY=replace_with_a_long_random_secret

SUPERSET_DB_NAME=superset
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=Superset
SUPERSET_ADMIN_EMAIL=admin@superset.local
SUPERSET_ADMIN_PASSWORD=admin

# Data Warehouse connection (USAC BI)
DW_SQLALCHEMY_URI=postgresql+psycopg2://<db_user>:<db_password>@host.docker.internal:5435/<db_name>
